/* You can add global styles to this file, and also import other style files */

html
{
    scroll-behavior: smooth;
}

.fs-54{
    font-size: 54pt;
}
.fs-18{
    font-size: 18pt;
}
.cor{
    background-color: #054C46 ;
    color: #A38D63;
}
.cor2{
    background-color: #E9EAE3;
}